* {
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-title {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: white;
}

.content-videos {
    height: 100%;
    display: flex;
    text-align: left;
    margin: 0 auto;
}

a {
    width: 23%;
}

img{
    width: 100%;
    transition: .3s;
}